@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
}
.background{
    position: relative;
    background-image: url(/devsolutions/img/background\ \(1\).png);
    height: 950px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.wpp{
    position:fixed;
    bottom: 17px;
    right: 20px;
    z-index: 9999;
}

.navbar{
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    padding: 0 30px;
    border-radius: 50px;
    background: #7edbf5;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.logo{
    width: 180px;
    margin-left: -50px 
    /* border: 1px solid white; */
}
.logo img{
    width: 150px;
    height: auto;
}
.container-links{
    display: flex;
    height: 40px;
    background: #0faaf1;
    border-radius: 50px;
}
.container-links a{
    display: flex;
    text-decoration: none;
    color:#fdfdfd;
    padding:20px;
    align-items: center;
}
.converse{
    display: flex;
    background: #FFE600;
    border-radius: 50px;
    padding: 10px 20px;
}
.converse a{   
    color: #0f1a39;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1px;
}
.converse img{
    margin-top: 2px;
    height: 15px;
}

.container-links a:hover{
    background: #fbfdfd;
    color: black;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.header{
    display: flex;
    flex-flow: row wrap;
    height: 600px; 
}
.headline{
    margin-left: 20%;
    margin-top: 5%;
}
.gucode{
    font-family: Great Vibes, cursive; 
    font-size: 250px;
    color: #FFE600;
    margin-top: -180px;
    margin-left: 90px;
    font-weight: 300;
    font: bold;

}
.solucoes{
    margin-left: -160px;
    font-family: Elms Sans, sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #5EEAD4;
}
.descricao{
    display: flex;
    font-family: Elms Sans, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color:white;
    margin-left: -150px;
    margin-top: 10px;
}
.dashboard{
    display: flex;
    margin-top:-600px;
    margin-left: 750px ;
    
}

.background2{
    position: relative;
    background-image: url(/devsolutions/img/background2.jpg);
    height: 950px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: 250px;
}
.gu{
    font-family: "Ultra", serif;
    font-weight: 400; 
    font-size: 100px;
    color: #5f93a2;
    padding-top:125px ;
    font-weight: 300;
    font: bold;
    padding-left:100px;
}
.gu2{
    color:#0f1a39;
}
.missao{
    font-family: "Ultra", serif;
    font-weight: 400; 
    font-size: 60px;
    color: #5f93a2;
    padding-top:0px ;
    font-weight: 300;
    font: bold;
    padding-left:350px;
}
.missao2{
    color: #0f1a39;
}
.descricao-missao{
    padding-left: 350px;
    font-family: Elms Sans, sans-serif;
    font-size: 23px;
}
.circulo-dev{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1300px;
    margin-top: -50px;

}
.desenvolvedor{
    font-family: "Ultra", serif;
    font-weight: 400; 
    font-size: 60px;
    color: #0f1a39;
    font-weight: 300;
    font: bold;
    padding-left:1250px;
    margin-top: -300px;
}
.nome-dev{
    font-family: Elms Sans, sans-serif; 
    font-size: 24px;
    font-weight:bold;
    margin-left: 1335px;
    color:#5f93a2
}
.linkedin{
    display: flex;
    margin-left: 1415px;
}
.area-azul{
    background-color: #031056;
    color: white;
    clip-path: polygon(0 0,100% 4vw, 100% 100%, 0 100%) ;
    margin-top: -10vw;
    padding: 120px 10% 80px 10%;
    height: 1500px;
}
.realizacao{
    text-align: center;
    font-family:"Libre Caslon Text", serif;
    font-weight: 900;
    font-size: 60px;
    color:#e0fafa
}
.retangulo1{
    display: inline-block;
    width: 530px;
    height: 980px;
    background: #F4F4F2;
    margin-left: 100px;
    border-radius: 50px;
    margin-top: 100px;
}

.foto-landing{
    display: flex;
    height: 350px;
    margin-top: -385px;
    margin-left: 30px;
}
.landing{
    text-align: center;
    color:black;
    font-family:"Libre Caslon Text", serif;
    justify-content:  center;
    font-weight: 700;
    color: #0f1a39;
    padding-top: 235px;
    font-size: 35px;
}
.page{
    color:#5f93a2;
}
.retangulo-reto{
    width: 470px;
    height: 1px;
    background: #cecece;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}
.descricao-landing{
    padding-left: 25px;
    padding-right: 25px;
    color:#021092;
    font-family: Elms Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.sub-retangulo{
    position: relative;
    width: 470px;
    height: 250px;
    background: #E9ECEF;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    border-radius: 10px;
    color: #1E204B;
}
.retangulo-reto2{
    width: 440px;
    height: 1px;
    background: #cecece;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -13px;
}
.check{
    position: absolute;
    top:29px;
    left: 17px;
    width: 20px;
}
#check2{
    top:85px;
}
#check3{
    top:138px
}
#check4{
    top:193px
}
#check5{
    top:246px
}
.texto-sub-retangulo{
    font-family: "Roboto", sans-serif;
    padding-left: 38px;
    padding-top: 30px;
}

#texto2{
    padding-top: 15px;
}
#texto3{
    padding-top: 15px;
}
#texto4{
    padding-top: 15px;
}
#texto5{
    padding-top: 15px;
}
.btn-landing{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    width: 230px;
    height: 42px;
    background-color: #229A38;
    border-radius: 25px;
}
.btn-landing a  {
    font-family: "Ultra", serif;
    word-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.btn-landing:hover{
    width: 235px;
    height: 46px;
    background: #E06328 ;
}
.retangulo2{
    width: 530px;
    height: 980px;
    background: #BAE6FD;
    margin-left: 900px;
    margin-top: -996px;
    border-radius: 50px;
}
.automacoes{
    text-align: center;
    color:black;
    font-family:"Libre Caslon Text", serif;
    justify-content:  center;
    font-weight: 700;
    color: #030d27;
    padding-top: 285px;
    margin-top: 10px;
    font-size: 35px;
}
.ias{
    color: #5f93a2;
}
.foto-Ia{
    display: flex;
    height: 350px;
    margin-top: -385px;
    margin-left: 30px;
}
.retangulo-reto3{
     width: 470px;
    height: 1px;
    background: black;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 3px;
}
.descricao-Ia{
    padding-left: 25px;
    padding-right: 25px;
    color:#0c1138;
    font-family: Elms Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.sub-retangulo2{
    position: relative;
    width: 470px;
    height: 300px;
    background: #E9ECEF;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    border-radius: 10px;
    color: #1E204B;
}
.btn-landing2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   margin-top: 30px;
    width: 230px;
    height: 42px;
    background-color: #229A38;
    border-radius: 25px;
}
.btn-landing2 a  {
    font-family: "Ultra", serif;
    word-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.btn-landing2:hover{
    width: 235px;
    height: 46px;
    background: #E06328 ;
}
.background3{
    background-image: url(/devsolutions/img/background3.jpg);
    height: 850px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: -20px;
}
.atendimento{
    position: relative;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400; 
    font-size: 90px;
    color: #212f4d;
    font-weight: 300;
    font: bold;
    margin-top: -20px;
    padding-top: 100px;
    padding-left: 300px;
    z-index: 999px;
}
#gucode-atendimento{
    font-size: 200px;
    padding-left: 420px;
    padding-top: 40px;
    color: #04703e;
}
#descricao-atendimento{
    color: black;
    padding-left: 250px;
    margin-top: -91px;
}